.elemento-form{
    padding: 16px;
    border: 1px solid beige;
}

.elemento-form-button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 6px;
    border: 10px solid beige;
}

input:hover{
    background-color: black;
    color: white;
}

label{
    padding-right: 10px;
}