ul{
  font-family: Arial, Helvetica, sans-serif;
  list-style: square;
  background-color: beige;
}

h4{
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.contenedor-incidencias {
  display: flex; 
}

main { 
  flex: 1; 
  background-color: beige;
  padding: 20px;
  border: 20px solid #fff;
}

aside{
  width: 600px;
  background-color: beige;
  padding: 16px;
  border: 20px solid #fff;

}